body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	font-size:16px;
	line-height: 22px;
	
	color: #283136;
}

.clearfix::after {
	content: "";
	
	display: table;
	clear: both;
}

h1 {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	
	font-size:18px;
	line-height:30px;
	
	text-transform: uppercase;
	
	color:#000000;
}

h2 {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	font-size:36px;
	line-height:36px;
	color:#000000;
}

.container {
	width: 880px;
	margin: 0 auto;	
	padding-left: 10px;
	padding-right: 10px;
}

hr {
	background-image: url(../img/line-gray.png);
	background-repeat: repeat-x;
	
	height: 2px;
	border: none;
}

										/* Шапка сайта */

.main-header {
	text-transform: uppercase;
	background-color: #eeeeee;
	
	position: relative;
}

.main-header-logo{
	position: absolute;
	width: 140px;
	
	padding-top: 26px;
	padding-bottom: 26px;
}

.main-navigator {
	float: right;
	width: 560px;
	
	margin-top: 10px;
	
	text-align: right;
	margin-right: 60px;
}

.main-navigator ul {
	float: left;
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.main-navigator li {
	display: inline-block;

	font-size: 14px;
	line-height: 30px;
	vertical-align: top;
	
	padding: 26px 23px;
}

.main-navigator a {
	color: #000000;
	padding-bottom: 5px;
	text-decoration: none;
}

.main-navigator a:hover {
	color: #fb565a;
}

.main-navigator a:active {
	color: #000000;
	opacity: 0.4;
}

.main-navigator a.active {
	color: #000000;
	text-decoration: none;
	box-shadow: 0 2px 0 0 red;
}

.basket {
	position: relative;
	display: inline-block;
	vertical-align: top;
  	
	width: 100px;
	
	font-size: 14px;
	line-height: 30px;
	
	padding: 25px 0;
	
	color: #ffffff;
	text-decoration: none;
}


.basket::before {
	content: "";
	position: absolute;
	
	margin-top: 8px;
	margin-left: -35px;

	width: 25px;
    height: 25px;

	background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
	background-position: -19px -22px;
	opacity: 0.3;
}

										/* Cлайдер */

.main-slider {
	padding-top:50px;
    background:#eeeeee;
}

.slider {
    position:relative;
	width:880px;
    height:310px;
    margin:0 auto;
	
	background-color: #eeeeee;
	background-size: 100%;
}

.slider-controls {
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    border:1px dotted green;
    z-index:1000;
}

.slider-controls i {
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

.slider-controls .active {
    background:#c1c1c1;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}

.slide-title {
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}


.slide:nth-child(1) {
    background-image:url('../img/slider-1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide{
    display:none;
}

.slide:nth-child(1){
    display:block;
}

.slide:nth-child(2){
    background-image:url('../img/slider-2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url('../img/slider-3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}

.btn-slider {
	padding: 15px 70px;
		
	background-color: #fb565a;
}

.btn-slider:hover {
	border: 0;
	background-color: #d6494d;
}

.btn-slider:active {
	border: 0;
	background-color: #b63538;
	box-shadow: inset 0 2px 0 0 #9b2d30;
}

										/* Блок предложений */

.offer {
	width: 880px;
	
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	
	font-size: 15px;
	line-height: 22px;
	
	padding: 80px 0px;
	background-color: white;
}

.offer-web {
	width: 240px;
	float: left;
	padding-right: 80px;
}

.offer-apps {
	width: 240px;
	float: left;
}

.offer-presentation {
	width: 240px;
	float: right;
}

.btn {
	display: inline-block;
	
	color: white;
	
	font-size: 12px;
	line-height: 18px;
	
	
	
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;	
	
	border-radius: 3px;
}

.offer-web a {
	padding: 10px 40px;
	background-color: #fb565a;
}

.offer-web a:hover {
	background-color: #d6494d;
}

.offer-web a:active {
	background-color: #b63538;
	box-shadow: inset 0 2px 0 0 #9b2d30;
}

.offer-apps a {
	padding: 10px 40px;
	background-color: #00ca74;
}

.offer-apps a:hover {
	background-color: #01a25e;
}

.offer-apps a:active {
	background-color: #009053;
	box-shadow: inset 0 2px 0 0 #007b47;
}

.offer-presentation a {
	padding: 10px 40px;
	background-color: #efc84a;
}

.offer-presentation a:hover {
	background-color: #d6ae2c;
}

.offer-presentation a:active {
	background-color: #c09b24;
	box-shadow: inset 0 2px 0 0 #a3841f;
}

										/* Описание преимуществ студии */

.description {
	float: left;
	width: 620px;
}

.lead {
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	
	font-size: 36px;
	line-height: 36px;	
}

.caps {
	padding-top: 20px;
	text-transform: uppercase;
}


.studio ul {
	padding: 0;
	margin: 0;
			
	list-style: none;
}

.studio li {
	position: relative;
	display: inline-block;
	
	padding-left: 37px;
	
	vertical-align: middle
}

.description li::before {
	position: absolute;
	content: "";
	
	width: 25px;
	height: 2px;
	
	margin-top: 11px;
	margin-left: -37px;
	
	background-image: url(../img/list-style.png);
}

.studio-logo {
	text-align: center;
}

.since {
	text-align: center;
	background-image: url(../img/line-gray.png);
	background-repeat: repeat-x;
	background-position: center;
}

.since span {
	padding: 0 13px;
	background-color: white;
}

.benefit {
	float: right;
	width: 240px;
}

.benefit li::before {
	position: absolute;
	content: "";
	
	width: 25px;
	height: 2px;
	
	margin-top: 11px;
	margin-left: -37px;
	
	background-image: url(../img/list-style.png);
}

										/* Логотипы партнёров */

.project {
	
	width: 880px;
	
	padding: 45px 0;
	
	text-align: center;
}

.project-logo {
	display: inline-block;
	width: 220px;
	text-align: center;
	padding-right: 100px;
	vertical-align: middle;
}

.project-logo a {
	opacity: 0.2;
}

.project-logo a:hover {
	opacity: 1;
}

.project-logo:last-child {
	padding:0px;
}

										/* Подвал сайта */

.contact-map {
	position: relative;
	
	text-align: center;
	
	z-index: 1;
}

.contact {
	position: absolute;
	
	width: 900px;
	
	margin-top: -330px;
	
	z-index: 5;
}

.contact-adress {
	float: left;
	width: 200px;
	min-height: 190px;
	padding: 25px;
	background-color: white;
	
	z-index: 5;
}

.btn-contacts {
	color: white;
	
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	
	text-align: center;
	
	padding: 10px 50px;
	background-color: #fb565a;
	border: 0;
	border-radius: 3px;
}

.btn-contacts:hover {
	border: 0;
	background-color: #d6494d;
}

.btn-contacts:active {
	border: 0;
	background-color: #b63538;
	box-shadow: inset 0 2px 0 0 #9b2d30;
}

.contact-marker {
	float:right;
	
	padding-top: 20px;
	
	z-index: 5;
}

.footer-social {
	float: left;
	width: 250px;
	
	padding: 75px 0;
	
	vertical-align: middle;
}

.social-btn {
	display: inline-block;
	width: 62px;
	height: 62px;
	
	border-radius:37px;
	
	margin-right: 27px;
		
	text-align:center;
	
	background-color: #eeeeee;
}

.social-btn:hover {
	background-color: #fb565a;
}

.social-btn:active {
	background-color: #d6494d;
	box-shadow: inset 0 2px 0 0 #b63e42;
}

.social-btn:last-child {
	margin-right:0;
}


.footer-social .vk {
	width: 62px;
	height: 62px;
	background-image: url(../img/sprite.png);
    background-position: 0px -62px;
}

.footer-social .fb {
	width: 62px;
	height: 62px;
	background-image: url(../img/sprite.png);
    background-position: 0px -124px;
}

.footer-social .inst {
	width: 62px;
	height: 62px;
	background-image: url(../img/sprite.png);
    background-position: 2px -178px;
}

.footer-slogan {
	float: right;
	width: 560px;
	
	padding-top: 50px;
}

.footer-slogan .sale {
	margin-top: -20px;
}

										/* Модальное окно в подвале */

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	
	display: none;
	width: 460px;
	min-height: 200px;
	
	padding: 50px 80px;
	margin-left: -315px;
	margin-top: -250px;
	
	background-color: #ffffff;
	box-shadow: 0 10px 50px 0px #000000;
	
	z-index: 10;
}

.modal-content-close {
	position: absolute;
	top: 6px;
	right: 6px;
	
	width: 40px;
	height: 40px;
	
	font-size: 0;
	
	background-color: #fb565a;
	border-radius: 50%;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 8px;
	
	width: 25px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.write-form {
	width: 460px;
}

.writer-data {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	
	width: 215px;
}

.writer-data:first-child {
	margin-right: 26px;
}

.modal-content p {
	font-size: 16px;
	line-height: 18px;
}

.modal-content input[type="text"] {
	width: 182px;
	padding: 10px 15px;
	
	font-size: 12px;
	line-height: 18px;
	
	font-family: "Roboto", "Arial", sans-serif;
		
	text-transform: uppercase;
	
	border: 2px solid #d7dcde;
}

.modal-content input[type="text"]:hover {
	border: 2px solid #a2a9ac;
}

.modal-content input[type="text"]:focus {
	border: 2px solid #56bffb;
}

input[type="text"].mail-body {
	width: 426px;
	min-height: 76px;
}

.btn-send {
	width: 380px;
	margin-top: 50px;
		
	background-color: #fb565a;
}

.btn-send:hover {
	border: 0;
	background-color: #d6494d;
}

.btn-send:active {
	border: 0;
	background-color: #b63538;
	box-shadow: inset 0 2px 0 0 #9b2d30;
}

											/* Cтили для внутренней страницы */

.welcome {
	min-height: 170px;
	
	padding-top: 30px;
	
	font-size: 40px;
	line-height: 40px;
	
	text-align: center;
	text-transform: uppercase;
	
	background-color: #eeeeee;
}

.features {
	padding-top: 30px;
}

										/* Блок с фильтрами */

.filter {
	float: left;
	width: 240px;
	
	padding-top: 15px;
}

fieldset {
	border: none;
	padding-bottom: 50px;
}

legend {
	font-size: 18px;
	line-height: 30px;
	
	text-transform: uppercase;
}





.range-filter {
	width: 240px;
}

.range-controls {
	position: relative;
	
	height: 41px;
	margin-bottom: 15px;
	
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	
	border-radius: 5px;
	background: #f1f1f1;
}

.range-controls .scale {
	height: 2px;
	
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	
	cursor: pointer;
	
	width: 4px;
	height: 4px;
	
	border: 8px solid #fff;
	border-radius: 50%;
	
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 165px;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	
	font-size: 16px;
}

.price-controls {
 	font-size: 0;
}

.price-controls input {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	
	border: none;
	border-radius: 5px;
	outline: none;
	background: #f1f1f1;
}

.max-price {
  text-align: right;
}



label {
	font-size: 16px;
	line-height: 30px;
}

.radio-checkbox {
	position: relative;
	padding-left: 30px;
	
	cursor: pointer;
}

.radio-checkbox input[type="radio"] {
	display: none;
}

.radio-checkbox input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -1px;
	left: 0;

	width: 13px;
	height: 13px;

	border: 3px solid #c1c1c1;
	border-radius: 50%;
}

.radio-checkbox input[type="radio"]:disabled + .checkbox-indicator {
	opacity: 0.4;
}

.radio-checkbox input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;

	width: 9px;
	height: 9px;
	
	border-radius: 50%;
	
	background-color: #c1c1c1;
}

.multi-checkbox {
	position: relative;
	display: block;
	padding-left: 35px;
	
	cursor: pointer;
}

.multi-checkbox input[type="checkbox"] {
	display: none;
}

.multi-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 4px;
	left: 0;

	width: 17px;
	height: 17px;

	border: 3px solid #c1c1c1;
	border-radius: 23%;
}

.multi-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.4;
}

.multi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.multi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	
	background-color: #c1c1c1;
}

.multi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	top: 7px;
	left: 2px;

	width: 11px;
	height: 5px;
	
	transform: rotate(45deg);
	
	
}

.multi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	top: 3px;
	left: 6px;

	width: 20px;
	height: 5px;
	
	box-shadow: 7px 0 0 2px #ffffff;
	
	transform: rotate(-45deg);
}


.btn-filter {
		
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	
	border: none;
	border-radius: 3px;
	
	padding: 10px 45px;
	
	color: black;	
	background-color: #f1f1f1;
}

.btn-filter:hover {
	background-color: #e5e5e5;
}

.btn-filter:active {
	background-color: #;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}

										/* Основной блок внутренней страницы*/

.shop-sort-category {
	padding-right: 40px;
	
}

.shop-sort-category a {
	color: #000000;
	opacity: 0.3;
	
	text-decoration: none; 
    border-bottom: 1px dashed #00ca74;
}

.shop-sort-category a:hover {
	opacity: 1;
	border-bottom: 1px solid #00ca74;
}

.shop-sort-category a:active {
	opacity: 1;
	border-bottom: none;
}

.arrow-down a{
	float:right;
	width: 15px;
	height: 15px;
	
	padding-right: 0px;
	
	background: url(../img/sprite.png); 
	background-position: 0px -240px;
	opacity: 0.4;
}

.arrow-down a:hover {
	opacity: 0.4;
}

.arrow-down a:active {
	opacity: 1;
}

.arrow-down .active {
	background: url(../img/sprite.png); 
	background-position: -30px -240px;
	opacity: 1;
}

.arrow-down:hover .active {
	background: url(../img/sprite.png); 
	background-position: 0px -240px;
	opacity: 0.4;
}

.arrow-down:active .active {
	background: url(../img/sprite.png); 
	background-position: 0px -240px;
	opacity: 1;
}

.arrow-up a{
	float:right;
	width: 15px;
	height: 15px;
	
	padding-right: 0px;
	background: url(../img/sprite.png); 
	background-position: 45px -240px;
	opacity: 0.4;
}

.arrow-up a:hover {
		opacity: 0.4;
}

.arrow-up a:active {
	opacity: 1;
}

.shop {
	float: right;
	width: 560px;
}






.shop-item {
	float: left;
	width: 240px;
	min-height: 270px;
	
	padding-right: 80px;
	padding-bottom: 80px;
	
	position: relative;
}

.browser {
	position: absolute;
	
	width: 240px;
	height: 270px;
}
	
.browser-top{
	position: absolute;
	width: 240px;
	height: 30px;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
	background-color: #f1f1f1;
	background-image: url(../img/item-browser.png);
	background-repeat: no-repeat;
	
	opacity: 0.1;
}

.browser:hover .browser-top{
	opacity: 1;	
}

.browser:hover .info-banner {
	display: block;
	z-index: 5;
}

.info-banner {
	position: absolute;
	
	width: 160px;
	height: 140px;
	
	top: 50%;
	left: 50%;
	
	margin-left: -100px;
	margin-top: -90px;	

	padding: 30px 20px;
	
	display: none;
	
	color: black;
	text-align: center;
	
	font-size: 14px;
	line-height: 18px;

	background-color: #ffffff;
}

.name-sample{
	font-size: 18px;
	
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-banner {
	position: absolute;
	
	width: 140px;	
	
	bottom: 30px;
	right: 30px;	
	
	font-size: 18px;
	padding: 11px 0;
	
	background-color: #fb565a;
}

.btn-banner:hover {
	border: 0;
	background-color: #d6494d;
}

.btn-banner:active {
	border: 0;
	background-color: #b63538;
	box-shadow: inset 0 2px 0 0 #9b2d30;
}
																		

.shop-item img {
	margin-top: 30px;
	vertical-align: bottom;
}	

.shop-item:nth-child(2n) {
	padding-right: 0px;
}

.pages {
	padding-bottom: 50px;
}

.pages a {
	display: inline-block;
	padding: 10px 15px;
	
	margin-right: 10px;
			
	color: black;
	text-decoration: none;
	
	border-radius: 3px;
	
	background-color: #f1f1f1;
}

.pages a.next {
	padding: 10px 31px;
}

.pages a:hover {
	background-color: #e5e5e5;
}

.pages a:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 2px 0 0 #b5b5b5;
}

.pages a.active {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px #f2f2f2;
}

